.app ul {
    list-style: none;
    padding:0;
}


.pagination {
    margin-left: -10px;
}

.pagination li {
    display: inline-block;
    margin-left:10px;
    cursor: pointer;
    padding: 5px 10px;
    background: olivedrab;
    color: #fff;
}